<%- include('includes/sidebar.ejs') %>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title><%= ciclo.IDCiclo ? 'Modificar' : 'Introducir Nuevo' %> Ciclo Escolar</title>
    <link rel="stylesheet" href="/css/stylesb.css">
    <link rel="stylesheet" href="/css/style3.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
        <h3 style="display: flex; justify-content: center; width: 100%;">
            <%= ciclo.IDCiclo ? 'Modificar' : 'Introducir Nuevo' %> Ciclo Escolar
        </h3>
        <form id="cicloForm" action="/user/admin/ciclo_escolar" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="IDCiclo" value="<%= ciclo.IDCiclo || '' %>">
            <div class="input-box">
                <input type="text" name="Ciclo" placeholder="Ciclo escolar" required value="<%= ciclo.Ciclo || '' %>">
            </div>
            <div class="input-box">
                <label for="Fecha_Inicio">Fecha de inicio</label>
                <input type="date" id="Fecha_Inicio" name="Fecha_Inicio" required value="<%= ciclo.Fecha_Inicio ? ciclo.Fecha_Inicio.toISOString().slice(0, 10) : '' %>">
            </div>
            <div class="input-box">
                <label for="Fecha_Fin">Fecha de fin</label>
                <input type="date" id="Fecha_Fin" name="Fecha_Fin" required value="<%= ciclo.Fecha_Fin ? ciclo.Fecha_Fin.toISOString().slice(0, 10) : '' %>"><br>
            </div>
            <div class="input-box">
                <br><input type="number" name="Precio_credito" placeholder="Costo de crédito" required value="<%= ciclo.Precio_credito || '' %>">
            </div>
            <div class="input-box">
                <br><input type="number" name="IDCicloEXT" placeholder="ID ciclo IVD" required value="<%= ciclo.IDCicloEXT || '' %>">
            </div>
            <input type="hidden" name="Ciclo_activo" value="<%= ciclo.Ciclo_activo ? '1' : '0' %>">
            <br><br><button class="btn" type="submit"><%= ciclo.IDCiclo ? 'Actualizar Valor' : 'Crear Ciclo' %></button><br>
            <br><button type="button" class="btn" onclick="history.back()">Regresar</button>
        </form>
    </div>
</body>
</html>
