<%- include('includes/sidebar.ejs') %>
<body>
    <div class="page_content">
        <h1 class="title">Historial de Deudas</h1>
        <table id="USUARIOS">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Total deuda</th>
                    <th>Concepto</th>
                    <th>Mes</th>
                    <th>Fecha límite</th>
                    <th>Pagar</th>
                </tr>
            </thead>
            <tbody>
                <% deudas.forEach(function(deuda) { %>
                    <tr>
                        <td><%= deuda.Nombre %></td>
                        <td><%= deuda.Total_deuda.toFixed(2)%></td>
                        <td><%= deuda.Concepto %></td>
                        <td><%= deuda.Mes %></td>
                        <td>
                        <% if (deuda.Fecha_limite) { %>
                                <% var fechaNormal = new Date(deuda.Fecha_limite); %>
                                <%= fechaNormal.toDateString() %>
                            <% } else { %>
                                N/A
                            <% } %> 
                        </td>
                         
                        <td>
                            <a href="#" class="modifyuserg">Pagar</a>
                        </td>
                     </tr>
                <% }); %>
            </tbody>
        </table>
        <div>
            <a href="/user/alumno/descargar-ficha-personal/pdf" class="btn btn-primary">Descargar Ficha</a>
        </div>  
      </div>
</body>
</html>
