<%- include('includes/sidebar.ejs') %>
<body>
    <div class="page_content">
        <h1 class="title">Historial de Pagos</h1>
        <table id="USUARIOS">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Referencia</th>
                    <th>Cantidad Pagada</th>
                    <th>Fecha de Pago</th>
                    <th>Método</th>
                    <th>Banco</th>
		    <th>Concepto</th>
                    <th>Nota</th>
                    <th>Fecha límite</th>
                </tr>
            </thead>
            <tbody>
                <% pagos.forEach(function(pago) { %>
                    <tr>
                        <td><%= pago.Nombre %></td>
                        <td><%= pago.Referencia %></td>
                        <td><%= pago.Cant_pagada.toFixed(2) %></td>
                        <td><%= new Date(pago.Fecha_de_pago).toLocaleDateString() %></td>
                        <td><%= pago.Metodo %></td>
                        <td><%= pago.Banco %></td>
                        <td><%= pago.Concepto %></td>
                        <td><%= pago.Nota %></td>
                        <td><%= pago.Fecha_limite %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

    </div>
</body>
</html>
