<%- include('includes/sidebar.ejs') %>
<body>
    <div class="page_content">
        <h1 class="title">Historial de Deudas</h1>
            <a href="/user/admin/pagos_de_alumnos/crearDeuda/<%= id %>" class="btn">Crear Deuda</a>
        <table id="USUARIOS">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Referencia</th> 
                    <th>Total deuda</th>
                    <th>Concepto</th>
                    <th>Mes</th>
                    <th>Fecha límite</th>
                    <th>Registrar pago</th>
                    <th>Modificar deuda</th>
                </tr>
            </thead>
            <tbody>
                <% deuda.forEach(function(deuda) { %>
                    <tr>
                        <td><%= deuda.Nombre %></td>
                        <td><%= deuda.Referencia %></td> 
                        <td><%= deuda.Total_deuda.toFixed(2)%></td>
                        <td><%= deuda.Concepto %></td>
                        <td><%= deuda.Mes %></td>
                        <td>
                        <% if (deuda.Fecha_limite) { %>
                                <% var fechaNormal = new Date(deuda.Fecha_limite); %>
                                <%= fechaNormal.toDateString() %>
                            <% } else { %>
                                N/A
                            <% } %> 
                        </td>
                        <td>
                            <a href="/user/admin/pagos_de_alumnos/registrarPago/<%= deuda.IDDeuda %>" class="btn">Registrar Pago</a>
                        </td>
                        <td>
                            <a href="/user/admin/pagos_de_alumnos/modificarDeuda/<%= deuda.IDDeuda %>" class="brn">Modificar Deuda</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
      </div>
</body>
</html>
