<%- include('includes/sidebar.ejs') %>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Historial de Pagos General</title>
    <link rel="stylesheet" href="/css/sidebar.css">
</head>
<body>
    <div class="page_content">
        <h1>Historial de Pagos General</h1>
        <table id="USUARIOS">
            <thead>
                <tr>
                    <th>Pago</th>
		    <th>Porcentaje Pagado</th>
                    <th>Referencia</th>
                    <th>Nombre</th>
                    <th>Fecha de Pago</th>
                    <th>Cantidad Pagada</th>
                    <th>Método</th>
                    <th>Banco</th>
                    <th>Nota</th>
                </tr>
            </thead>
            <tbody>
                <% pagos.forEach(function(pago) { %>
                    <tr>
                        <td><%= pago.Mes %></td>
			<td><%= (pago.PorcentajePagado * 100).toFixed(2) %>%</td>
                        <td><%= pago.Referencia %></td>
                        <td><%= pago.Nombre %></td>
                        <td><%= pago.Fecha_de_pago.toISOString().slice(0, 10) %></td>
                        <td><%= pago.Cant_pagada.toFixed(2) %></td>
                        <td><%= pago.Metodo %></td>
                        <td><%= pago.Banco %></td>
                        <td><%= pago.Nota %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <a href="/descargar-historial" class="btn btn-primary">Descargar Historial CSV</a>

    </div>
</body>
</html>