<%- include('includes/sidebar.ejs') %>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Historial de Pagos General</title>
    <link rel="stylesheet" href="/css/sidebar.css">
</head>
<body>
    <div class="page_content">
    <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>" >
        <h1>Historial de Pagos General</h1>
        <input id="buscar" class="buscar" type="text" placeholder="Buscar"/><br><br>
        <div id="respuesta_ajax">
        <table id="USUARIOS"> 
           <thead>
                <tr>
                    <th>Pago</th>
		    <th>Porcentaje Pagado</th>
                    <th>Referencia</th>
                    <th>Nombre</th>
                    <th>Fecha de Pago</th>
                    <th>Cantidad Pagada</th>
                    <th>Método</th>
                    <th>Banco</th>
                    <th>Concepto</th>
                    <th>Nota</th>
                    <th>Fecha límite</th>
                    <th>Modificar pago</th>
                    <th>Borrar Pago</th>

                </tr>
            </thead>
            <tbody>
                <% pagos.forEach(function(pago) { %>
                    <tr>
                        <td><%= pago.Mes %></td>
			<td><%= (pago.PorcentajePagado * 100).toFixed(2) %>%</td>
                        <td><%= pago.Referencia %></td>
                        <td><%= pago.Nombre %></td>
                        <td><%= pago.Fecha_de_pago.toISOString().slice(0, 10) %></td>
                        <td><%= pago.Cant_pagada.toFixed(2) %></td>
                        <td><%= pago.Metodo %></td>
                        <td><%= pago.Banco %></td>
                        <td><%= pago.Concepto %></td>
                        <td><%= pago.Nota %></td>
                        <td><%= pago.Fecha_limite %></td>
                        <td></td>
                        <td>
                            <button onclick="borrarPago(<%= pago.IDPago %>)">Borrar</button>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        
    </div>

<script>
const accion_asincrona = () => {
    console.log('Buscando...');
    const valor_busqueda = document.getElementById('buscar').value;
    // función que manda la petición asincrónica
    fetch('/user/admin/historial-pagos-general/buscar/' + valor_busqueda, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
        }
    }).then((result) => {
        console.log(result);
        return result.json(); // Regresa otra promesa
    }).then((data) => {
        console.log(data);
        let html = '';
        
        html += `
            <div class="tabla">
        `;
        
        if (data.length < 1) {
            html += `
            <div class="notification">
                No existe el usuario.
            </div>
            `;
        }

        html += `
        <table id="HISTORIAL_PAGOS">
            <tr>
                <th>Pago</th>
                <th>Porcentaje Pagado</th>
                <th>Referencia</th>
                <th>Nombre</th>
                <th>Fecha de Pago</th>
                <th>Cantidad Pagada</th>
                <th>Método</th>
                <th>Banco</th>
                <th>Concepto</th>
                <th>Nota</th>
                <th>Fecha Límite</th>
                <td>Modificar Pago</td>
                <td>Borrar Pago</td>
            </tr>
        `;

        for (let pago of data) {
            html += `
            <tr>
                <td>${pago.Mes}</td>
                <td>${(pago.PorcentajePagado * 100).toFixed(2)}%</td>
                <td>${pago.Referencia}</td>
                <td>${pago.Nombre}</td>
                <td>${new Date(pago.Fecha_de_pago).toISOString().slice(0, 10)}</td>
                <td>${pago.Cant_pagada.toFixed(2)}</td>
                <td>${pago.Metodo}</td>
                <td>${pago.Banco}</td>
                <td>${pago.Concepto}</td>
                <td>${pago.Nota}</td>
                <td>${pago.Fecha_limite ? pago.Fecha_limite.toISOString().slice(0, 10) : ''}</td>
                <td></td>
                <td>
                    <button onclick="borrarPago(${pago.IDPago})">Borrar</button>
                </td>
            </tr>
            `;
        }

        html += `
        </table>
        </div>
        `;

        document.getElementById('respuesta_ajax').innerHTML = html;
    }).catch((error) => {
        console.error('Error en la búsqueda:', error);
        document.getElementById('respuesta_ajax').innerHTML = '<div class="notification">Error en la búsqueda.</div>';
    });
};

function borrarPago(IDPago) {
    if(confirm('¿Estás seguro de que quieres eliminar este pago?')) {
        fetch('/user/admin/historial-pagos-general/borrar/' + IDPago, {
            method: 'DELETE',
            headers: {
        // Incluir el token CSRF en las cabeceras de la solicitud
               'CSRF-Token': document.querySelector('input[name="_csrf"]').value
      },
      credentials: 'include'
        })
        .then(response => {
            if(response.ok) {
                return response.json();
            }
            throw new Error('Error al borrar el pago.');
        })
        .then(data => {
            // Eliminar la fila de la tabla del pago borrado
            document.querySelector('#fila-pago-' + IDPago).remove();
            // Podrías querer actualizar tu tabla o hacer otra búsqueda aquí para reflejar los cambios
            accion_asincrona(); // Si quieres refrescar la lista después de borrar un pago
        })
        .catch(error => console.error('Error:', error));
    }
}

document.getElementById('buscar').onkeyup = accion_asincrona;
</script>
</body>
</html>

