<%- include('includes/sidebar.ejs') %>

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Lista de Ciclos Escolares</title>
        <link rel="stylesheet" href="/css/sidebar.css">
    </head>
    <body>
        <div class="page_content">
        <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>" >
            <h1>Lista de Ciclos Escolares</h1>
            <input id="buscar" class="buscar" type="text" placeholder="Buscar"/><br><br>

            <div id="respuesta_ajax">
                <div class="tabla">
                    <table id="USUARIOS"> 
                        <tr>
                            <th>Nombre</th>
                            <th>Fecha de Inicio</th>
                            <th>Fecha de Fin</th>
                            <th>Precio del Crédito</th>
                            <th>ID Ciclo IVD</th>
                            <th>¿Activo?</th>
                            <th></th>
                        </tr>
                        <tbody>
                            <% ciclosDB.forEach(function(cicloescolar) { %>
                                <tr>
                                    <td><%= cicloescolar.Ciclo %></td>
                                    <td><%= cicloescolar.Fecha_Inicio.toISOString().slice(0, 10) %></td>
                                    <td><%= cicloescolar.Fecha_Fin.toISOString().slice(0, 10) %></td>
                                    <td><%= cicloescolar.Precio_credito %></td>
                                    <td><%= cicloescolar.IDCicloEXT %></td>
                                    <td><%= cicloescolar.Ciclo_activo %></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script>
            const accion_asincrona = () => {
                console.log('Buscando...');
                const valor_busqueda = document.getElementById('buscar').value;
                //función que manda la petición asíncrona
                fetch('/user/admin/lista_ciclos/buscar/' + valor_busqueda, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'CSRF-Token': document.getElementById('_csrf').value  // Asegúrate de que el nombre del encabezado coincida con lo que espera tu servidor
                    }
                }).then((result) => {
                    if (result.ok) {
                        return result.json(); // Procesa la respuesta como JSON
                    } else {
                        throw new Error('Respuesta no válida del servidor');
                    }
                }).then((data) => {
                    console.log(data);
                    let html = ' ';
        
                    html += `
                        <div class="tabla">
                    `;
        
                    if (data.length < 1) {
                        html += `
                        <div class="notification">
                            No existe el ciclo.            
                            </div>`;
                    }
        
                    html += `
                    <table id="USUARIOS">
                        <tr>
                            <th>Nombre</th>
                            <th>Fecha de Inicio</th>
                            <th>Fecha de Fin</th>
                            <th>Precio del Crédito</th>
                            <th>ID Ciclo IVD</th>
                            <th>¿Activo?</th>
                            <th></th>
                        </tr>`;
        
                        for (let cicloescolar of data.rows) {
                        html += `
                        <tr>
                            <td>${cicloescolar.Ciclo}</td>
                            <td>${new Date(cicloescolar.Fecha_Inicio).toISOString().slice(0, 10)}</td>
                            <td>${new Date(cicloescolar.Fecha_Fin).toISOString().slice(0, 10)}</td>
                            <td>${cicloescolar.Precio_credito}</td>
                            <td>${cicloescolar.IDCicloEXT}</td>
                            <td>${cicloescolar.Ciclo_activo}</td>
                        </tr>`;
                    }
                     html += ` 
                    </table>
                    </div>
                    `;
                                                                
                    document.getElementById('respuesta_ajax').innerHTML = html;
                }).catch(err => {
                    console.log(err);
                    document.getElementById('respuesta_ajax').innerHTML = '<div class="notification">Error en la busqueda: ' + err.message + '</div>';
                });
            };
            document.getElementById('buscar').onkeyup = accion_asincrona;
        </script>
        
    </body>
</html>