<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Pagos</title>
    <link rel="stylesheet" href="/css/sidebar.css">
</head>
<body>
    <div class="page_content">
	<h1> LISTA DE PAGOS</h1>
        <table id="USUARIOS">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Matrícula</th>
		    <th>Total Deuda</th>
                    <th>Cantidad Pagada</th>
                    <th>Fecha de Pago</th>
                    <th>Método</th>
                    <th>Banco</th>
                    <th>Nota</th>
                    <th>Prórroga</th>
               </tr>
           </thead>
           <tbody>
               <% pagos.forEach(function(pago) { %>
                   <tr>
                       <td><%= pago.Nombre %></td>
                       <td><%= pago.Matricula %></td>
                       <td><%= (Number(pago.Total_deuda)).toFixed(2) %></td>
		       <td><%= (Number(pago.Cant_pagada)).toFixed(2) %></td>
                       <% 
                       let date = new Date(pago.Fecha_de_pago);
                       let day = ('0' + date.getDate()).slice(-2);
                       let month = ('0' + (date.getMonth() + 1)).slice(-2);
                       let year = date.getFullYear();
                       %>
                       <td><%= `${day}/${month}/${year}` %></td>
                       <td><%= pago.Metodo %></td>
                       <td><%= pago.Banco %></td>
                       <td><%= pago.Nota %></td>
                       <td><%= pago.Prorroga %></td>
                 </tr>
             <% }); %>
         </tbody>
      </table>
    </div>
</body>
</html>

