<%- include('includes/sidebar.ejs') %>
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title>Materias</title>
        <link rel="stylesheet" href="/css/sidebar.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <div class="page_content">
            <div class="title_materias">
                <h1>Materias para el ciclo de <%= cicloActual %></h1>
            </div>
            <% const costoCredito = costoCred %>
            <% let totalCreditos = 0; %>
            <% let costosMateria = {}; %>
            <% cursos.forEach(function(curso) { %>
                <% totalCreditos += parseFloat(curso.creditos); %>
                <% costosMateria[curso.idMateria] = costoCredito * curso.creditos; %>
            <% }); %>
            <% let costoTotal = 0; %>
            <% if (beca === 0) { %>
                <% costoTotal  = totalCreditos * costoCredito; %>
            <% } else { %>
                <% costoTotal = totalCreditos * costoCredito * (1 - beca / 100); %>
            <% } %>

            <form action="/user/alumno/materias" method="POST" id="materias_form">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <% if (cursos.length > 0) { %>
                    <% cursos.forEach(function(curso, index) { %>
                        <div class="page_items">
                            <div class="item">
                                <%= curso.nombreMat %><br>
                                <h4>Créditos: <%= curso.creditos %> | Costo: $<%= costosMateria[curso.idMateria].toFixed(2) %> | Maestro: <%= curso.nombreProfe %> | Semestre: <%= curso.semestre %> | ID: <%= curso.idMateria %></h4>
                                <!-- Campos ocultos para enviar la información del curso -->
                                <input type="hidden" name="cursos[<%= index %>][idMateria]" value="<%= curso.idMateria %>">
                                <input type="hidden" name="cursos[<%= index %>][nombreMat]" value="<%= curso.nombreMat %>">
                                <input type="hidden" name="cursos[<%= index %>][creditos]" value="<%= curso.creditos %>">
                                <input type="hidden" name="cursos[<%= index %>][nombreProfe]" value="<%= curso.nombreProfe %>">
                                <input type="hidden" name="cursos[<%= index %>][semestre]" value="<%= curso.semestre %>">
                            </div>
                        </div>
                    <% }); %>

                    <br><h4>Total de Créditos: <%= totalCreditos %></h4>
                    <% if (beca !== 0) { %>
                        <br><h4>Porcentaje de beca: <%= beca %>%</h4>
                    <% } %>
                    <br><h4>Costo Total: $<%= costoTotal.toFixed(2) %></h4>

                    <!-- Detalles del pago en plazos dentro del mismo formulario -->
                    <div class="payment_details">
                        <h3>Detalles del pago en plazos</h3>
                        <table>
                            <tr>
                                <th>Pago #</th>
                                <th>Porcentaje</th>
                                <th>Monto</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>23%</td>
                                <td>$<%= (costoTotal * 0.23).toFixed(2) %></td>
                            </tr>
                            <% for (let i = 2; i <= 6; i++) { %>
                            <tr>
                                <td><%= i %></td>
                                <td>15.4%</td>
                                <td>$<%= (costoTotal * 0.154).toFixed(2) %></td>
                            </tr>
                            <% } %>
                        </table>
                    </div>

                    <!-- Opciones de pago -->
                    <div class="payment_plan">
                        <h4>Seleccione plan de pago</h4>
                        <label>
                            <br><input type="radio" name="payment_option" value="contado"> Pagar de contado
                        </label>
                        <label>
                            <br><input type="radio" name="payment_option" value="plazos"> Pagar en plazos
                        </label>
                        <span id="payment_error" style="color:red; display:none;">Por favor seleccione una opción de pago.</span>
                    </div>
                    <br><input type="submit" value="Confirmar materias" class="btn2" id="confirmar">
                <% } else { %>
                    <p>No hay materias disponibles.</p>
                <% } %>
            </form>
        </div>
        <script>
            document.getElementById('materias_form').onsubmit = function() {
                var paymentOptions = document.getElementsByName('payment_option');
                var paymentSelected = false;
        
                for (var i = 0; i < paymentOptions.length; i++) {
                    if (paymentOptions[i].checked) {
                        paymentSelected = true;
                        break;
                    }
                }
        
                if (!paymentSelected) {
                    document.getElementById('payment_error').style.display = 'block'; // Muestra el mensaje de error
                    return false; // Impide el envío del formulario
                }
        
                // Si todo está en orden, permite que el formulario se envíe
                return true;
            };
        </script>
    </body>
</html>

