<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title>Materias</title>
        <link rel="stylesheet" href="/css/stylesb.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <div class="page_content">
            <h1>Materias</h1>
            <% const costoCredito = 530; %>
            <% let totalCreditos = 0; %>
            <% cursos.forEach(function(curso) { %>
                <% totalCreditos += parseFloat(curso.creditos); %>
            <% }); %>
            <% let costoTotal = totalCreditos * costoCredito; %>
            
            <form action="/user/alumno/materias" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <% if (cursos.length > 0) { %>
                    <% cursos.forEach(function(curso, index) { %>
                        <div class="page_items">
                            <div class="item">
                                <%= curso.nombreMat %><br>
                                <h4>Créditos: <%= curso.creditos %> | Costo: $<%= (costoCredito * curso.creditos) %> | Maestro: <%= curso.nombreProfe %> | Semestre: <%= curso.semestre %> | ID: <%= curso.idMateria %></h4>
                                <!-- Campos ocultos para enviar la información del curso -->
                                <input type="hidden" name="cursos[<%= index %>][idMateria]" value="<%= curso.idMateria %>">
                                <input type="hidden" name="cursos[<%= index %>][nombreMat]" value="<%= curso.nombreMat %>">
                                <input type="hidden" name="cursos[<%= index %>][creditos]" value="<%= curso.creditos %>">
                                <input type="hidden" name="cursos[<%= index %>][nombreProfe]" value="<%= curso.nombreProfe %>">
                                <input type="hidden" name="cursos[<%= index %>][semestre]" value="<%= curso.semestre %>">
                            </div>
                        </div>
                    <% }); %>

                    <br><h4>Total de Créditos: <%= totalCreditos %></h4>
                    <br><h4>Costo Total: $<%= costoTotal.toFixed(2) %></h4>
                    <br><input type="submit" value="Confirmar materias" class="btn2" id="confirmar">
                <% } else { %>
                    <p>No hay materias disponibles.</p>
                <% } %>
            </form>
            <form action="/user/alumno/contactar_admin" method="POST" style="margin-top: 40px;">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <h5>Si requiere cambios, da click en el botón de pedir cambios.</h5>
                <input type="submit" value="Pedir cambios" class="btn2" style="margin-top: 20px;">
            </form>
        </div>     
    </body>
</html>
