<%- include ('includes/sidebar.ejs') %>
<% let name = 'Neto'%>
<% const costoCredito = 530 %>
<% let total = 0 %>
<% let listaMaterias = [ 
    { nombre: "Física", creditos: 17.5, maestro: "Laura Gómez", horario: "Martes 11-13", semestre: 2 },
    { nombre: "Química", creditos: 15, maestro: "Carlos Martínez", horario: "Miércoles 9-11", semestre: 2 },
    { nombre: "Historia", creditos: 21, maestro: "María López", horario: "Jueves 12-14", semestre: 1 },
    { nombre: "Español", creditos: 15, maestro: "Pepito Perez", horario: "Viernes 14-16", semestre: 2 },
    { nombre: "Matemáticas", creditos: 21, maestro: "Juan Pérez", horario: "Lunes 10-12", semestre: 1 },
    { nombre: "Inglés", creditos: 17.5, maestro: "Juan Valdez", horario: "Sábado 16-18", semestre: 1 },
]; %>

<% listaMaterias.forEach(materia => { total += materia.creditos; }); %>
<% let totalPago = total * costoCredito; %>



<!DOCTYPE HTML>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content="width-device-width, initial-scale=1.0">
        <title>Portal de Pago</title>
        <link rel="stylesheet" href="/css/stylesb.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <div class="page_content">
            <h1>Bienvenid@ al portal de pago, <%= name %>.</h1>
            <h4>Seleccione las materias que quiera pagar para cursarlas este semestre.</h4>

            <% if (listaMaterias.length < 1) { %>
                <div class="notification is-info">
                    <button class="delete"></button>
                    No hay materias registradas. Contacte al portal administrador.           
                </div>
            <% } %>

            <form id="formularioPago" action="/ruta_para_guardar" method="POST">
                <% let i = 1 %>
                <% for (let materia of listaMaterias) { %>
                    <div class="page_items">
                        <div class="item">
                            <%= materia.nombre %>
                            <br><h6><input type="checkbox" class="materiaCheckbox" checked id="materia<%=i%>" value="<%=materia.creditos%>" onchange="calcularTotalCreditos()">
                                Créditos: <%= materia.creditos %> | Costo: $<%=(costoCredito * materia.creditos) %>
                            | Maestro: <%= materia.maestro %> | Horario: <%= materia.horario %> | Semestre: <%= materia.semestre %></h6>
                            
                        </div>
                    </div>
                    <% i += 1 %>
                <% } %>

                <br><h4>Total de créditos seleccionados: <span id="totalCreditos">0</span></h4>
                <br><h4>Total a pagar: $<span id="totalPago">0</span></h4>
                <br><input type="submit" value="Confirmar pago" class="btn" id="confirmar"></input>
            </form>

        </div>

        <script>
            function calcularTotalCreditos() {
                const checkboxes = document.querySelectorAll('.materiaCheckbox');
                let totalCreditos = 0;
    
                checkboxes.forEach(checkbox => {
                    if (checkbox.checked) {
                        totalCreditos += parseFloat(checkbox.value);
                    }
                });
                const costoCredito = 530;
                const totalPago = totalCreditos * costoCredito;
    
                document.getElementById('totalCreditos').textContent = totalCreditos.toFixed(1);
                document.getElementById('totalPago').textContent = totalPago.toFixed(2);
            }
            calcularTotalCreditos()
        </script>

        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                document.getElementById('formularioPago').addEventListener('submit', function(e) {
                    e.preventDefault(); // Previene el envío estándar del formulario

                    const checkboxes = document.querySelectorAll('.materiaCheckbox');
                    let materiasSeleccionadas = [];

                    checkboxes.forEach((checkbox) => {
                        if (checkbox.checked) {
                            materiasSeleccionadas.push({
                                id: checkbox.id,
                                creditos: checkbox.value
                                // Agrega aquí más información si es necesario
                            });
                        }
                    });

                    const totalCreditos = document.getElementById('totalCreditos').textContent;
                    const totalPago = document.getElementById('totalPago').textContent;

                    console.log("Materias seleccionadas:", materiasSeleccionadas);
                    console.log("Total de créditos:", totalCreditos);
                    console.log("Total a pagar:", totalPago);

                    // Aquí iría la lógica para enviar esta información a tu servidor
                });
            });
        </script>

    </body>
</html>