<%- include('includes/sidebar.ejs') %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Registrar Pago</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="info-box">
            <p><strong>Nombre:</strong> <%= pago.Nombre %></p>
            <p><strong>Referencia:</strong> <%= pago.Referencia %></p>
            <p><strong>Total deuda:</strong> <%= pago.Total_deuda %></p>
            <p><strong>Plan de pago:</strong> <%= pago.Plan_pago %></p>
            <p><strong>Concepto:</strong> <%= pago.Concepto %></p>
            <p><strong>Mes:</strong> <%= pago.Mes %></p>
            <p><strong>Fecha límite:</strong> <%= pago.Fecha_limite.toISOString().slice(0, 10) %></p>
        </div>
        <div class="wrapper">
            <form action="/user/admin/registrarPago" method="POST"> 
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                <input type="hidden" name="IDPago" value="<%= pago ? pago.IDPago : '' %>" required>

                <!-- Input fields for payment details -->
                <div class="input-box">
                    <label for="Cantidad pagada">Cantidad pagada:</label>
                    <input type="number" name="Cant_pagada" value="<%= pago ? pago.Cant_pagada : '' %>" placeholder="1545" step="0.01" required>
                </div>
                <div class="input-box">
                    <label for="Fecha de pago">Fecha de pago:</label>
                    <input type="date" name="Fecha_de_pago" value="<%= pago ? pago.Fecha_de_pago.toISOString().slice(0, 10) : '' %>" required>
                </div>
                <div class="input-box">
                    <label for="Metodo">Método:</label>
                    <input type="text" name="Metodo" value="<%= pago ? pago.Metodo : '' %>" placeholder="Efectivo" required>
                </div>
                <div class="input-box">
                    <label for="Banco">Banco:</label>
                    <input type="text" name="Banco" value="<%= pago ? pago.Banco : '' %>" placeholder="Santander" required>
                </div>
                <div class="input-box">
                    <label for="Nota">Nota:</label>
                    <input type="text" name="Nota" value="<%= pago ? pago.Nota : '' %>" placeholder="Nota" required>
                </div>
                <div class="space"></div>
                <button type="submit" class="btn">Registrar</button>
                <button type="button" onclick="window.location.href='http://localhost:2050/'" class="btn">Cancelar</button>
            </form>
        </div> 
    </body>
</html>


