<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Asegúrate de que el camino a tus CSS sea correcto -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Inclusión de Chart.js -->
</head>
<body>
    <%- include('includes/header.ejs') %> <!-- Asume que tienes un archivo de encabezado para incluir -->
    <div class="main-content">
        <h1><%= pageTitle %></h1>
        <div>
            <h2>Deuda Total</h2>
            <canvas id="deudaTotalChart"></canvas>
        </div>
        <div>
            <h2>Historial de Pagos</h2>
            <canvas id="historialPagosChart"></canvas>
        </div>
    </div>

    <script>
        // Gráfica de Deuda Total
        const ctxDeudaTotal = document.getElementById('deudaTotalChart').getContext('2d');
        const deudaTotalChart = new Chart(ctxDeudaTotal, {
            type: 'bar',
            data: {
                labels: ['Deuda Total'],
                datasets: [{
                    label: 'Cantidad Total de Deuda',
                    data: [<%= totalDeuda %>],
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        // Gráfica del Historial de Pagos
        const ctxHistorialPagos = document.getElementById('historialPagosChart').getContext('2d');
        const fechasPagos = <%= JSON.stringify(pagos.map(pago => pago.Fecha_de_pago)) %>;
        const cantidadesPagadas = <%= JSON.stringify(pagos.map(pago => pago.Cant_pagada)) %>;
        const historialPagosChart = new Chart(ctxHistorialPagos, {
            type: 'line',
            data: {
                labels: fechasPagos,
                datasets: [{
                    label: 'Pagos Realizados',
                    data: cantidadesPagadas,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    fill: false,
                    tension: 0.1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</body>
</html>
