<%- include('includes/sidebar.ejs'), {
    correo: correo,
    permisos: permisos,
    rol: rol,
    nombre: nombre,
    rolUser: rolUser,
} %>
<!DOCTYPE html>
<html>
    <head>
        <title>Página de Inicio</title>
    </head>
    <body>
        <div id="respuesta_ajax">

            <div class="page_content">

                <div class="text">
                    <div class="title_usuarios">
                       <h1>Usuarios</h1> 
                    </div>
                    <input id="buscar" class="buscar" type="text" placeholder="Buscar..."/><br><br>
                    <table id="USUARIOS">
                        <tr>
                            <th>Nombre</th>
                            <th>Matrícula</th>
                            <th>Correo electrónico</th>
                            <th>Beca</th>
                            <th>Rol</th>
                            <th></th>
                        </tr>
                        <% for (let user of usuariosDB) {%>
                            <tr>
                              <td><%= user.Nombre %></td>
                              <td><%= user.Matricula %></td>
                              <td><%= user.Correo_electronico %></td>
                              <td><%= user.Beca_actual %></td>
                              <td><%= user.Tipo_Rol %></td> 
                              <td><button class="adminrole" onclick="alert('Cambiar rol')">Modificar</button> </td>
                            </tr></td>
                              
                        <%}%>
                        
                        
                      </table>
                </div>
            </div>
        </div>
        
    </body>

    <script>
        const accion_asincrona = () => {
            console.log('Buscando...');
            const valor_busqueda = document.getElementById('buscar').value;
            //función que manda la petición asíncrona
            fetch('/construcciones/buscar/' + valor_busqueda, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                }
            }).then((result) => {
                console.log(result);
                return result.json(); //Regresa otra promesa
            }).then((data) => {
                console.log(data);
                let html = '';

                
                if (data.usuariosDB.length < 1) {
                    html += `
                    <div class="notification">
                        <strong>No existe el dato.</strong>
                    </div>`;
                }


                html += `
                <div class="page_content">

                    <div class="text">
                        <div class="title_usuarios">
                        <h1>Usuarios</h1> 
                        </div>
                        <input id="buscar" class="buscar" type="text" placeholder="Buscar..."/><br><br>
                        <table id="USUARIOS">
                            <tr>
                                <th>Nombre</th>
                                <th>Matrícula</th>
                                <th>Correo electrónico</th>
                                <th>Beca</th>
                                <th>Rol</th>
                            </tr>
                            <% for (let user of usuariosDB) {%>
                                <tr>
                                <td>${user.Nombre}</td>
                                <td>${user.Matricula} %></td>
                                <td>${user.Correo_electronico} %></td>
                                <td>${user.Beca_actual}</td>
                                <td>${user.Tipo_Rol}<button class="adminrole" onclick="alert('Cambiar rol')">Cambiar</button> </td>
                                </tr>
                            <%}%>
                            
                            
                        </table>
                    </div>
                    </div>
                `

            document.getElementById('respuesta_ajax').innerHTML = html;
            }).catch(err => {
                console.log(err);
            });
        };
        document.getElementById('buscar').onkeyup = accion_asincrona;
        </script>

</html>